<h2>編集フォーム</h2>

<% @task.errors.full_messages.each do |message| %>
  <%= message %>
<% end %>

<%= form_tag("/#{@task.id}/update") do%>
  <p>タスク名</p>
    <input name="name" value="<%= "#{@task.name}" %>"><br>
  <p>タスクの説明</p>
    <textarea name="description" rows="3" cols="80"><%= "#{@task.description}" %></textarea><br>
  <p>終了期限</p>
    <input type="date" name="deadline" value="<%= "#{@task.deadline}" %>"><br>
  <p>ステータス</p>
    <select  name="status" >
      <option value="">選択してください</option>
      <option value="waiting">未着手</option>
      <option value="working">着手中</option>
      <option value="completed">完了</option>
    </select><br>
  <p>優先順位</p>
    <select  name="priority" >
      <option value="">選択してください</option>
      <option value="low">低</option>
      <option value="mid">中</option>
      <option value="high">高</option>
    </select><br>
  <input type="submit" value="保存">
<% end %>
